# {{ ansible_managed }}
server {
    listen {{ http_port }};
    server_name {{ domains|join(' ') }};

    {% if nginx_access_log %}
        access_log /var/log/nginx/{{ domain }}-access.log;
    {% else %}
        access_log off;
    {% endif %}

    {% if nginx_error_log %}
        error_log /var/log/nginx/{{ domain }}-error.log;
    {% else %}
        error_log off;
    {% endif %}

    {% if ssl %}
        ssl on;
        ssl_certificate {{ cert_path }};
        ssl_certificate_key {{ cert_key_path }};
    {% endif %}

    {% if static_root|default(False) %}
        location {{ static_base_path }} {
            alias {{ static_root }};
            expires 30d;
            access_log  off;

            location ~* \.(eot|woff|ttf|woff2|svg)$ {
                add_header Access-Control-Allow-Origin *;
            }
        }
    {% endif %}

    {% if media_root|default(False) %}
        location {{ media_base_path }} {
            alias {{ media_root }};
        }
    {% endif %}
}
